asgiref==3.11.1
black==26.3.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
Django==6.0.5
django-stubs==6.0.3
django-stubs-ext==6.0.3
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
drf-nested-routers==0.95.0
idna==3.13
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.9.6
pytokens==0.4.1
requests==2.33.1
sqlparse==0.5.5
types-PyYAML==6.0.12.20260508
typing_extensions==4.15.0
urllib3==2.7.0
